/* override styles.css*/
.container{
	position: relative;
}

/* end override */

/*** Shortcodes Ultimate - box elements ***/

/*		Common styles
---------------------------------------------------------------*/

.su-clearfix:before,
.su-clearfix:after {
	display: table;
	content: " ";
}
.su-clearfix:after { clear: both; }

/*		Tabs + Tab
---------------------------------------------------------------*/

.su-tabs {
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #eee;
}
.su-tabs-nav span {
	display: inline-block;
	margin-right: 3px;
	padding: 10px 15px;
	font-size: 13px;
	min-height: 40px;
	line-height: 20px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	color: #333;
	cursor: pointer;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.su-tabs-nav span:hover { background: #f5f5f5; }
.su-tabs-nav span.su-tabs-current { background: #fff; cursor: default; }
.su-tabs-nav span.su-tabs-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: default;
}
.su-tabs-pane {
	padding: 15px;
	font-size: 13px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
	background: #fff;
	color: #333;
}
.su-tabs-vertical:before,
.su-tabs-vertical:after {
	content: " ";
	display: table;
}
.su-tabs-vertical:after { clear: both; }
.su-tabs-vertical .su-tabs-nav {
	float: left;
	width: 30%;
}
.su-tabs-vertical .su-tabs-nav span {
	display: block;
	margin-right: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.su-tabs-vertical .su-tabs-panes {
	float: left;
	width: 70%;
}
.su-tabs-vertical .su-tabs-pane {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.su-tabs-nav,
.su-tabs-nav span,
.su-tabs-panes,
.su-tabs-pane {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
/* Styles for screens that are less than 768px */
@media only screen and (max-width: 768px) {
	.su-tabs-nav span { display: block; }
	.su-tabs-vertical .su-tabs-nav {
		float: none;
		width: auto;
	}
	.su-tabs-vertical .su-tabs-panes {
		float: none;
		width: auto;
	}
}
