/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sb-search {
    position: relative;
    margin-top: 0px;
    width: 0%;
    min-width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;
 
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
 
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: relative;
    top: 0;
    right: 0;
    border: none !important;
    outline: none;
    background: #fff;
    width: 250px;
    height: 40px !important;
    margin: 0;
    z-index: 10;
    padding: 0px !important;
	padding-left: 5px !important;
    font-family: inherit;
    font-size: 14px;
    color: #2c3e50;
}
 
input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
    color: #c52d2d;
}
 
.sb-search-input:-moz-placeholder {
    color: #c52d2d;
}
 
.sb-search-input::-moz-placeholder {
    color: #c52d2d;
}
 
.sb-search-input:-ms-input-placeholder {
    color: #c52d2d;
}

.sb-icon-search,
.sb-search-submit  {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #c52d2d;
    z-index: 90;
    font-size: 22px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
 
.sb-icon-search:before {
    content: "\e000";
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 250px;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #c52d2d;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}